---
import Layout from  "@/layouts/Layout.astro";
interface Props {
	title?: string | undefined;
	keywords?: string | undefined;
	description?: string | undefined;
}
const { title, description,keywords} = Astro.props;
---

<Layout title={title} description={description} keywords={keywords}>
  <main class="post-wrapper">
      <slot />
  </main>
</Layout>
