<a href="/" class="h-10 group relative z-30 flex flex-row items-center">
  <p
    class="text-primary hover:text-primary-light transition text-xl hover:scale-102 leading-tight font-brand"
  >
    Alex Busch
  </p>
</a>
